{{#partial "styles"}}

    <link rel='stylesheet' href='/css/index.css'>

{{/partial}}

{{#partial "content"}}

    <div id="heading">
        <h2>All Creatures <br> Deserve A Life</h2>
        <h1>Free From Fear</h1>
    </div>

{{/partial}}

{{> layout.hbs}}